## Passo 1: Criação de dataframe com os dados

In [20]:
import pandas as pd

# Nome do arquivo CSV local
csv_file = 'https://raw.githubusercontent.com/davidjeielrocha/banco-de-dados/master/money-makers-bb.csv'

# Lendo o arquivo CSV
df = pd.read_csv(csv_file)

# Exibir as primeiras linhas do dataframe para entender a estrutura
print("<-- Teste com as primeiras linhas do dataframe criado -->")
print(df.head())
print("<-- Final do teste -->")

<-- Teste com as primeiras linhas do dataframe criado -->
          Artist  total    sales  streaming  publishing  touring  year
0   Taylor Swift   23.8  10.0000      10.60       3.200      0.0  2020
1    Post Malone   23.2   0.7125       8.10       2.000     12.4  2020
2    Celine Dion   17.5   0.2500       0.29       0.024     17.0  2020
3         Eagles   16.3   0.9700       2.70       1.200     11.4  2020
4  Bellie Eilish   14.7   2.1000       5.90       5.700      1.0  2020
<-- Final do teste -->

## Passo 2: Criação do banco de dados e tabela

In [ ]:
import sqlite3

# Criar uma conexão com um banco de dados SQLite
conn = sqlite3.connect('money_makers.db')

# Criar um objeto cursor
cursor = conn.cursor()

# Remover a tabela se ela já existir
cursor.execute("DROP TABLE IF EXISTS money_makers")

# Criar a tabela com a estrutura apropriada com base no arquivo CSV
create_table_query = """
    CREATE TABLE money_makers (
        artist TEXT,
        total NUM,
        sales NUM,
        streaming NUM,
        publishing NUM,
        touring NUM,
        year INT
    )
"""
cursor.execute(create_table_query)

## Confirmar a transação
conn.commit()

## Criação da função de manipulação do banco de dados

In [ ]:

dados = ""
def executa_sql(conexao, comando_sql):
  try:
    cursor = conexao.cursor()
    cursor.execute(comando_sql)
    dados = cursor
    conexao.commit()
  except sqlite3.Error as erro:
    print("Erro ao inserir dados no banco de dados:", erro)

## Carregamento de dados no banco criado

In [ ]:

for index, row in df.iterrows():
 # dados = ( row[0], row[1], row[2], row[3], row[4], row[5] )
  comando = """
    INSERT INTO money_makers (Artist, Total, Sales, Streaming, Publishing, Touring, Year)
    VALUES (
      """+"'"+str(row[0])+"'"+""",
      """+str(row[1])+""",
      """+str(row[2])+""",
      """+str(row[3])+""",
      """+str(row[4])+""",
      """+str(row[5])+""",
      """+str(row[6])+"""
    )
  """
  executa_sql(conn, comando)

<ipython-input-4-cd0931c338b8>:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  """+"'"+str(row[0])+"'"+""",
<ipython-input-4-cd0931c338b8>:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  """+str(row[1])+""",
<ipython-input-4-cd0931c338b8>:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  """+str(row[2])+""",
<ipython-input-4-cd0931c338b8>:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  """+str(row[3])+""",
<ipython-input-4-cd0931c338b8>:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  """+str(row[4])+""",
<ipython-input-4-cd0931c338b8>:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  """+str(row[5])+""",
<ipython-input-4-cd0931c338b8>:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  """+str(row[6])+"""

In [ ]:
# Verificar se os dados foram inseridos corretamente
print("<--Teste de verificação dos dados inseridos na tabela-->")
print(pd.read_sql_query('SELECT * FROM money_makers', conn))
print("<--Final do teste de verificação dos dados inseridos na tabela-->")

<--Teste de verificação dos dados inseridos na tabela-->
                         artist  total    sales  streaming  publishing  \
0                  Taylor Swift   23.8  10.0000      10.60       3.200
1                   Post Malone   23.2   0.7125       8.10       2.000
2                   Celine Dion   17.5   0.2500       0.29       0.024
3                        Eagles   16.3   0.9700       2.70       1.200
4                 Bellie Eilish   14.7   2.1000       5.90       5.700
..                          ...    ...      ...        ...         ...
115  YoungBoy Never Broke Again   10.4   0.1200       8.90       1.400
116                Thomas Rhett   10.3   0.1700       2.40       0.410
117              Zac Brown Band   10.3   0.2300       1.60       1.000
118                      Maluma   10.2   0.0020       1.30       0.810
119                  The Weeknd   10.1   1.3000       7.30       1.600

     touring  year
0        0.0  2020
1       12.4  2020
2       17.0  2020
3       11.4  2020
4        1.0  2020
..       ...   ...
115      0.0  2021
116      7.4  2021
117      7.4  2021
118      8.1  2021
119      0.0  2021

[120 rows x 7 columns]
<--Final do teste de verificação dos dados inseridos na tabela-->

## Questão 1: 0,5 Ponto
 - Quantos artistas constam na base?

In [ ]:
comando = "Select distinct artist from money_makers"
artistas = pd.read_sql_query(comando, conn)
qtd = artistas.count() - 1
print("Constam " , qtd["artist"] , " artistas na base de dados")
print("<--Teste de verificação dos dados -->")
print(pd.read_sql_query(comando, conn))
print("<--Final do teste de verificação-->")

Constam  89  artistas na base de dados
<--Teste de verificação dos dados -->
               artist
0        Taylor Swift
1         Post Malone
2         Celine Dion
3              Eagles
4       Bellie Eilish
..                ...
85  Alanis Morissette
86        Grupo Firme
87       Thomas Rhett
88     Zac Brown Band
89             Maluma

[90 rows x 1 columns]
<--Final do teste de verificação-->

 - Quantos registros essa base possui?

In [ ]:
comando = "Select * from money_makers"
quantidade = pd.read_sql_query(comando, conn)
valor = quantidade.count()
print("Constam " , valor["total"], " registros na base de dados")
print("<--Teste de verificação dos dados -->")
print(quantidade)
print("<--Final do teste de verificação-->")

Constam  120  registros na base de dados
<--Teste de verificação dos dados -->
                         artist  total    sales  streaming  publishing  \
0                  Taylor Swift   23.8  10.0000      10.60       3.200
1                   Post Malone   23.2   0.7125       8.10       2.000
2                   Celine Dion   17.5   0.2500       0.29       0.024
3                        Eagles   16.3   0.9700       2.70       1.200
4                 Bellie Eilish   14.7   2.1000       5.90       5.700
..                          ...    ...      ...        ...         ...
115  YoungBoy Never Broke Again   10.4   0.1200       8.90       1.400
116                Thomas Rhett   10.3   0.1700       2.40       0.410
117              Zac Brown Band   10.3   0.2300       1.60       1.000
118                      Maluma   10.2   0.0020       1.30       0.810
119                  The Weeknd   10.1   1.3000       7.30       1.600

     touring  year
0        0.0  2020
1       12.4  2020
2       17.0  2020
3       11.4  2020
4        1.0  2020
..       ...   ...
115      0.0  2021
116      7.4  2021
117      7.4  2021
118      8.1  2021
119      0.0  2021

[120 rows x 7 columns]
<--Final do teste de verificação-->

 - Quantas colunas essa base possui?

In [ ]:
comando = """SELECT *
FROM PRAGMA_table_info('money_makers');"""
valor = pd.read_sql_query(comando, conn)
quantidade = valor.count()
print("Existem " , quantidade["name"], " colunas na tabela")
print("<--Teste de verificação dos dados -->")
print(valor["name"])
print("<--Final do teste de verificação-->")

Existem  7  colunas na tabela
<--Teste de verificação dos dados -->
0        artist
1         total
2         sales
3     streaming
4    publishing
5       touring
6          year
Name: name, dtype: object
<--Final do teste de verificação-->

##Questão 2: 0,5 Ponto
- Qual artista teve o maior número de visualizações no total?

In [ ]:
comando = """Select artist,
sum(streaming) qt
from money_makers
group by artist
order by qt desc"""
valor = pd.read_sql_query(comando, conn)
dados = valor[0:1]
mens = "O artista com a maior quantidade de visualizações foi"
quantidade = dados['qt'][0]
artista = dados['artist'][0]
print(mens, artista, 'com', quantidade ,  'mil visualizações')

O artista com a maior quantidade de visualizações foi Drake com 49.3 mil visualizações

Qual artista teve menos visualizações no streaming?

In [ ]:
comando = """
Select artist,
sum(streaming) qt
from money_makers
group by artist
order by qt asc
"""
valor = pd.read_sql_query(comando, conn)
dados = valor[0:1]
mens = "O artista com a menor quantidade de visualizações foi"
quantidade = dados['qt'][0]
artista = dados['artist'][0]
print(mens, artista, 'com', quantidade ,  'mil visualizações')

O artista com a menor quantidade de visualizações foi Jennifer Lopez com 0.08 mil visualizações

 - Qual artista teve mais visualizações em turnês?

In [ ]:
comando = """
SELECT artist ,
sum(touring) qt
FROM money_makers
GROUP BY artist
order by qt desc
"""
valor = pd.read_sql_query(comando, conn)
dados = valor[0:1]
mens = "O artista com a maior quantida de visualizações foi"
quantidade = dados['qt'][0]
artista = dados['artist'][0]
print(mens, artista, 'com', quantidade ,  'mil visualizações em turnês')

O artista com a maior quantida de visualizações foi Taylor Swift com 90.5 mil visualizações em turnês

## Questão 3: 0,5 Ponto
- Crie uma tabela contendo
 - o nome do artista,
 - o país e,
 - o continente de origem,

 **os artistas listados nessa tabela deverão ser os mesmos do arquivo ``money makers bb``**

In [19]:
#continent = """CREATE TABLE continent(  id_continent integer PRIMARY KEY AUTOINCREMENT  no_continent text)"""
#country   = """CREATE TABLE country(  id_country integer PRIMARY KEY AUTOINCREMENT  no_country text,  id _continent integer  FOREIGN KEY(id_continent) REFERENCES continent(id_continent)  """
#artist    = """CREATE TABLE artist(  id_artist integer PRIMARY KEY AUTOINCREMENT  no_artist text,  id_country integer  FOREIGN KEY(id_country) REFERENCES country(id_country)  """

#importar dados de paises dos artistas listados
import pandas as pd

# importa csv com a nacionalidad
csv_file = 'https://raw.githubusercontent.com/davidjeielrocha/banco-de-dados/master/grammys-best-album.csv'

# Lendo o arquivo CSV
best_album = pd.read_csv(csv_file)

# Exibir as primeiras linhas do dataframe para entender a estrutura
print("<-- Teste com as primeiras linhas do dataframe criado -->")
print(best_album.head())
print("<-- Final do teste -->")



#importar dados de continentes
#importar dados de artistas

<-- Teste com as primeiras linhas do dataframe criado -->
     Year         Artist                                 Work  \
0  1959.0  Henry Mancini            The Music from Peter Gunn
1  1960.0  Frank Sinatra                  Come Dance with Me!
2  1961.0    Bob Newhart  The Button-Down Mind of Bob Newhart
3  1962.0   Judy Garland                Judy at Carnegie Hall
4  1963.0  Vaughn Meader                     The First Family

  City/town of birth/origin US State of birth/origin Country of birth/origin  \
0                 Cleveland                     Ohio                     USA
1                   Hoboken               New Jersey                     USA
2                  Oak Park                 Illinois                     USA
3              Grand Rapids                Minnesota                     USA
4                Waterville                    Maine                     USA

  Racial/Ethnic group
0      White/European
1      White/European
2      White/European
3      White/European
4      White/European
<-- Final do teste -->

- Utilizando as informações das duas tabelas, liste quais foram os cinco países que tiveram o maior número de visualizações.