## Passo 1: Criação de dataframe com os dados

In [27]:
import pandas as pd
import sqlite3

# Criar uma conexão com um banco de dados SQLite
conn = sqlite3.connect('money_makers.db')

# Criar um objeto cursor
cursor = conn.cursor()

### SGBD -> SQLONLINE
**https://sqliteonline.com**

![Importação dos dados](img/Screen_Recording_20240808_205040_Chrome.gif)

### Método alternativo de importação

Como método alternativo para a importação da planilha e criação do banco de dados exponho um código python que pode ser usado

In [19]:
# Nome do arquivo CSV local
# csv_file = 'https://raw.githubusercontent.com/davidjeielrocha/banco-de-dados/master/money-makers-bb.csv'

# Lendo o arquivo CSV
# df = pd.read_csv(csv_file)

# # Remover a tabela se ela já existir
# #cursor.execute("DROP TABLE IF EXISTS money_makers")

# # Criar a tabela com a estrutura apropriada com base no arquivo CSV
# create_table_query = """
#     CREATE TABLE money_makers (
#         artist TEXT,
#         total NUM,
#         sales NUM,
#         streaming NUM,
#         publishing NUM,
#         touring NUM,
#         year INT
#     )
# """
# cursor.execute(create_table_query)

# ## Confirmar a transação
# conn.commit()

# dados = ""
# def executa_sql(conexao, comando_sql):
#   try:
#     cursor = conexao.cursor()
#     cursor.execute(comando_sql)
#     conexao.commit()
#   except sqlite3.Error as erro:
#     print("Erro ao inserir dados no banco de dados:", erro)

# for index, row in df.iterrows():
#   comando = """
#     INSERT INTO money_makers (Artist, Total, Sales, Streaming, Publishing, Touring, Year)
#     VALUES (
#       """+"'"+str(row[0])+"'"+""",
#       """+str(row[1])+""",
#       """+str(row[2])+""",
#       """+str(row[3])+""",
#       """+str(row[4])+""",
#       """+str(row[5])+""",
#       """+str(row[6])+"""
#     )
#   """
#   executa_sql(conn, comando)

# validacao = """SELECT * FROM money_makers"""
# print("<--Teste de verificação dos dados -->")
# print(pd.read_sql_query(validacao, conn))
# print("<--Final do teste de verificação-->")

## Questão 1: 0,5 Ponto
 - Quantos artistas constam na base?

In [20]:
comando = "Select distinct artist from money_makers"
artistas = pd.read_sql_query(comando, conn)
qtd = artistas.count() - 1
print("Constam " , qtd["artist"] , " artistas na base de dados")
print("<--Teste de verificação dos dados -->")
print(pd.read_sql_query(comando, conn))
print("<--Final do teste de verificação-->")

Constam  89  artistas na base de dados
<--Teste de verificação dos dados -->
               artist
0        Taylor Swift
1         Post Malone
2         Celine Dion
3              Eagles
4       Bellie Eilish
..                ...
85  Alanis Morissette
86        Grupo Firme
87       Thomas Rhett
88     Zac Brown Band
89             Maluma

[90 rows x 1 columns]
<--Final do teste de verificação-->

 - Quantos registros essa base possui?

In [28]:
comando = "Select * from money_makers"
quantidade = pd.read_sql_query(comando, conn)
valor = quantidade.count()
print("Constam " , valor["total"], " registros na base de dados")
print("<--Teste de verificação dos dados -->")
print(quantidade)
print("<--Final do teste de verificação-->")

Constam  120  registros na base de dados
<--Teste de verificação dos dados -->
                         artist  total    sales  streaming  publishing  \
0                  Taylor Swift   23.8  10.0000      10.60       3.200
1                   Post Malone   23.2   0.7125       8.10       2.000
2                   Celine Dion   17.5   0.2500       0.29       0.024
3                        Eagles   16.3   0.9700       2.70       1.200
4                 Bellie Eilish   14.7   2.1000       5.90       5.700
..                          ...    ...      ...        ...         ...
115  YoungBoy Never Broke Again   10.4   0.1200       8.90       1.400
116                Thomas Rhett   10.3   0.1700       2.40       0.410
117              Zac Brown Band   10.3   0.2300       1.60       1.000
118                      Maluma   10.2   0.0020       1.30       0.810
119                  The Weeknd   10.1   1.3000       7.30       1.600

     touring  year
0        0.0  2020
1       12.4  2020
2       17.0  2020
3       11.4  2020
4        1.0  2020
..       ...   ...
115      0.0  2021
116      7.4  2021
117      7.4  2021
118      8.1  2021
119      0.0  2021

[120 rows x 7 columns]
<--Final do teste de verificação-->

 - Quantas colunas essa base possui?

In [29]:
comando = """SELECT *
FROM PRAGMA_table_info('money_makers');"""
valor = pd.read_sql_query(comando, conn)
quantidade = valor.count()
print("Existem " , quantidade["name"], " colunas na tabela")
print("<--Teste de verificação dos dados -->")
print(valor["name"])
print("<--Final do teste de verificação-->")

Existem  7  colunas na tabela
<--Teste de verificação dos dados -->
0        artist
1         total
2         sales
3     streaming
4    publishing
5       touring
6          year
Name: name, dtype: object
<--Final do teste de verificação-->

##Questão 2: 0,5 Ponto
- Qual artista teve o maior número de visualizações no total?

In [30]:
comando = """Select artist,
sum(streaming) qt
from money_makers
group by artist
order by qt desc"""
valor = pd.read_sql_query(comando, conn)
dados = valor[0:1]
mens = "O artista com a maior quantidade de visualizações foi"
quantidade = dados['qt'][0]
artista = dados['artist'][0]
print(mens, artista, 'com', quantidade ,  'mil visualizações')

O artista com a maior quantidade de visualizações foi Drake com 49.3 mil visualizações

Qual artista teve menos visualizações no streaming?

In [31]:
comando = """
Select artist,
sum(streaming) qt
from money_makers
group by artist
order by qt asc
"""
valor = pd.read_sql_query(comando, conn)
dados = valor[0:1]
mens = "O artista com a menor quantidade de visualizações foi"
quantidade = dados['qt'][0]
artista = dados['artist'][0]
print(mens, artista, 'com', quantidade ,  'mil visualizações')

O artista com a menor quantidade de visualizações foi Jennifer Lopez com 0.08 mil visualizações

 - Qual artista teve mais visualizações em turnês?

In [32]:
comando = """
    SELECT artist ,
    sum(touring) qt
    FROM money_makers
    GROUP BY artist
    order by qt desc
"""
valor = pd.read_sql_query(comando, conn)
dados = valor[0:1]
mens = "O artista com a maior quantidade de visualizações foi"
quantidade = dados['qt'][0]
artista = dados['artist'][0]
print(mens, artista, 'com', quantidade ,  'mil visualizações em turnês')

O artista com a maior quantidade de visualizações foi Taylor Swift com 90.5 mil visualizações em turnês

## Questão 3: 0,5 Ponto
- Crie uma tabela contendo
 - o nome do artista,
 - o país e,
 - o continente de origem,

 **os artistas listados nessa tabela deverão ser os mesmos do arquivo ``money makers bb``**

![Importação dos dados](img/Screen_Recording_20240809_222534_Chrome.gif)

In [26]:
#continent = """CREATE TABLE continent(  id_continent integer PRIMARY KEY AUTOINCREMENT  no_continent text)"""
#country   = """CREATE TABLE country(  id_country integer PRIMARY KEY AUTOINCREMENT  no_country text,  id _continent integer  FOREIGN KEY(id_continent) REFERENCES continent(id_continent)  """
#artist    = """CREATE TABLE artist(  id_artist integer PRIMARY KEY AUTOINCREMENT  no_artist text,  id_country integer  FOREIGN KEY(id_country) REFERENCES country(id_country)  """

#importar dados de paises dos artistas listados
import pandas as pd

# importa csv com a nacionalidad
csv_file = 'https://raw.githubusercontent.com/davidjeielrocha/banco-de-dados/master/grammys-best-album.csv'

# Lendo o arquivo CSV
best_album = pd.read_csv(csv_file)

# Exibir as primeiras linhas do dataframe para entender a estrutura
print("<-- Teste com as primeiras linhas do dataframe criado -->")
print(best_album.head())
print("<-- Final do teste -->")



#importar dados de continentes
#importar dados de artistas

<-- Teste com as primeiras linhas do dataframe criado -->
     Year         Artist                                 Work  \
0  1959.0  Henry Mancini            The Music from Peter Gunn
1  1960.0  Frank Sinatra                  Come Dance with Me!
2  1961.0    Bob Newhart  The Button-Down Mind of Bob Newhart
3  1962.0   Judy Garland                Judy at Carnegie Hall
4  1963.0  Vaughn Meader                     The First Family

  City/town of birth/origin US State of birth/origin Country of birth/origin  \
0                 Cleveland                     Ohio                     USA
1                   Hoboken               New Jersey                     USA
2                  Oak Park                 Illinois                     USA
3              Grand Rapids                Minnesota                     USA
4                Waterville                    Maine                     USA

  Racial/Ethnic group
0      White/European
1      White/European
2      White/European
3      White/European
4      White/European
<-- Final do teste -->

In [47]:
# Nome do arquivo CSV local
csv_file = 'https://raw.githubusercontent.com/davidjeielrocha/banco-de-dados/master/grammys-best-album.csv'

# Lendo o arquivo CSV
df = pd.read_csv(csv_file)

# # Remover a tabela se ela já existir
cursor.execute("DROP TABLE IF EXISTS grammys_best_album")

# # Criar a tabela com a estrutura apropriada com base no arquivo CSV
create_table_query = """
    CREATE TABLE grammys_best_album (
        artist TEXT,
        city TEXT,
        country TEXT
    )
"""
cursor.execute(create_table_query)

# ## Confirmar a transação
conn.commit()

dados = ""
def executa_sql(conexao, comando_sql):
  try:
    cursor = conexao.cursor()
    cursor.execute(comando_sql)
    conexao.commit()
  except sqlite3.Error as erro:
    print("Erro ao inserir dados no banco de dados:", erro)
for index, row in df.iterrows():
  comando = """
    INSERT INTO grammys_best_album (
        artist,
        city,
        country
    )
    VALUES (
      """+"'"+str(row[1])+"'"+""",
      """+"'"+str(row[4])+"'"+""",
      """+"'"+str(row[5])+"'"+"""      
    )
  """
  executa_sql(conn, comando)

cria_tabela_pais_continente = """
  CREATE TABLE artist_country_continent(
    artist text,
    country text,
    continent text
  )
""" 
executa_sql(conn, cria_tabela_pais_continente)

insere_dados = """
  INSERT INTO artist_country_continent(
    artist,
    country,
    continent 
  )
  SELECT distinct
         artist, 
         country,
         CASE country
                      WHEN 'USA' THEN 'América do Norte' 
                      WHEN 'Brazil' THEN 'América do Sul' 
                      WHEN 'UK' THEN 'Europa' 
                      WHEN 'Isle of Man' THEN 'Europa' 
                      WHEN 'Japan' THEN 'Asia' 
                      WHEN 'Ireland' THEN 'Europa' 
                      WHEN 'Canada' THEN 'América do Norte' 
                      WHEN 'France' THEN 'Europa' 
                    END continent        
    FROM grammys_best_album"""
executa_sql(conn, insere_dados)

print("<--Teste de verificação dos dados -->")
print(pd.read_sql_query("SELECT * FROM artist_country_continent", conn))
print("<--Final do teste de verificação-->")

C:\Users\c117813\AppData\Local\Temp\ipykernel_32124\2967303722.py:39: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  """+"'"+str(row[1])+"'"+""",
C:\Users\c117813\AppData\Local\Temp\ipykernel_32124\2967303722.py:40: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  """+"'"+str(row[4])+"'"+""",
C:\Users\c117813\AppData\Local\Temp\ipykernel_32124\2967303722.py:41: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  """+"'"+str(row[5])+"'"+"""

<--Teste de verificação dos dados -->
                                           artist      country  \
0                                   Henry Mancini          USA
1                                   Frank Sinatra          USA
2                                     Bob Newhart          USA
3                                    Judy Garland          USA
4                                   Vaughn Meader          USA
5                                Barbra Streisand          USA
6                                       Stan Getz          USA
7                                   Joao Gilberto       Brazil
8                                     The Beatles           UK
9                                   Glen Campbell          USA
10                           Blood, Sweat & Tears          USA
11                              Simon & Garfunkel          USA
12                                    Carole King          USA
13                                George Harrison           UK
14                                  Stevie Wonder          USA
15                                     Paul Simon          USA
16                                  Fleetwood Mac           UK
17                                     Barry Gibb  Isle of Man
18                                     Billy Joel          USA
19                              Christopher Cross          USA
20                                    John Lennon           UK
21                                       Yoko Ono        Japan
22                                           Toto          USA
23                                Michael Jackson          USA
24                                  Lionel Richie          USA
25                                   Phil Collins           UK
26                                             U2      Ireland
27                                 George Michael           UK
28                                   Bonnie Raitt          USA
29               Quincy Jones and various artists          USA
30                                   Natalie Cole          USA
31                                   Eric Clapton           UK
32                             Whitney Houston[B]          USA
33                                   Tony Bennett          USA
34                              Alanis Morissette       Canada
35                                    Celine Dion       Canada
36                                      Bob Dylan          USA
37                                    Lauryn Hill          USA
38                                        Santana          USA
39                                     Steely Dan          USA
40  Various artists[C] Produced by T Bone Burnett          USA
41                                    Norah Jones          USA
42                                        OutKast          USA
43                                    Ray Charles          USA
44                                   Dixie Chicks          USA
45                                 Herbie Hancock          USA
46                                   Robert Plant           UK
47                                  Alison Krauss          USA
48                                   Taylor Swift          USA
49                                    Arcade Fire       Canada
50                                          Adele           UK
51                                 Mumford & Sons           UK
52                                      Daft Punk       France
53                                           Beck          USA
54                                     Bruno Mars          USA

           continent
0   América do Norte
1   América do Norte
2   América do Norte
3   América do Norte
4   América do Norte
5   América do Norte
6   América do Norte
7     América do Sul
8             Europa
9   América do Norte
10  América do Norte
11  América do Norte
12  América do Norte
13            Europa
14  América do Norte
15  América do Norte
16            Europa
17            Europa
18  América do Norte
19  América do Norte
20            Europa
21              Asia
22  América do Norte
23  América do Norte
24  América do Norte
25            Europa
26            Europa
27            Europa
28  América do Norte
29  América do Norte
30  América do Norte
31            Europa
32  América do Norte
33  América do Norte
34  América do Norte
35  América do Norte
36  América do Norte
37  América do Norte
38  América do Norte
39  América do Norte
40  América do Norte
41  América do Norte
42  América do Norte
43  América do Norte
44  América do Norte
45  América do Norte
46            Europa
47  América do Norte
48  América do Norte
49  América do Norte
50            Europa
51            Europa
52            Europa
53  América do Norte
54  América do Norte
<--Final do teste de verificação-->

- Utilizando as informações das duas tabelas, liste quais foram os cinco países que tiveram o maior número de visualizações.