## Passo 1: Criação de dataframe com os dados

In [67]:
import pandas as pd

# Nome do arquivo CSV local
csv_file = 'https://raw.githubusercontent.com/davidjeielrocha/banco-de-dados/master/money-makers-bb.csv'

# Lendo o arquivo CSV
df = pd.read_csv(csv_file)

# Exibir as primeiras linhas do dataframe para entender a estrutura
print("<-- Teste com as primeiras linhas do dataframe criado -->")
print(df.head())
print("<-- Final do teste -->")

<-- Teste com as primeiras linhas do dataframe criado -->
          Artist  total    sales  streaming  publishing  touring  year
0   Taylor Swift   23.8  10.0000      10.60       3.200      0.0  2020
1    Post Malone   23.2   0.7125       8.10       2.000     12.4  2020
2    Celine Dion   17.5   0.2500       0.29       0.024     17.0  2020
3         Eagles   16.3   0.9700       2.70       1.200     11.4  2020
4  Bellie Eilish   14.7   2.1000       5.90       5.700      1.0  2020
<-- Final do teste -->

## Passo 2: Criação do banco de dados e tabela

In [68]:
import sqlite3

# Criar uma conexão com um banco de dados SQLite
conn = sqlite3.connect('money_makers.db')

# Criar um objeto cursor
cursor = conn.cursor()

# Remover a tabela se ela já existir
cursor.execute("DROP TABLE IF EXISTS money_makers")

# Criar a tabela com a estrutura apropriada com base no arquivo CSV
create_table_query = """
    CREATE TABLE money_makers (
        artist TEXT,
        total NUM,
        sales NUM,
        streaming NUM,
        publishing NUM,
        touring NUM,
        year INT
    )
"""
cursor.execute(create_table_query)

## Confirmar a transação
conn.commit()

## Criação da função de gravar em banco de dados

In [69]:
def executa_sql(conexao, comando_sql):
  try:
    cursor = conexao.cursor()
    cursor.execute(comando_sql)
    conexao.commit()
  except sqlite3.Error as erro:
    print("Erro ao inserir dados no banco de dados:", erro)

## Carregamento de dados no banco criado

In [70]:

for index, row in df.iterrows():
 # dados = ( row[0], row[1], row[2], row[3], row[4], row[5] )
  comando = """
    INSERT INTO money_makers (Artist, Total, Sales, Streaming, Publishing, Touring, Year)
    VALUES (
      """+"'"+str(row[0])+"'"+""",
      """+str(row[1])+""",
      """+str(row[2])+""",
      """+str(row[3])+""",
      """+str(row[4])+""",
      """+str(row[5])+""",
      """+str(row[6])+"""
    )
  """
  executa_sql(conn, comando)

<ipython-input-70-f613612a4605>:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  """+"'"+str(row[0])+"'"+""",
<ipython-input-70-f613612a4605>:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  """+str(row[1])+""",
<ipython-input-70-f613612a4605>:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  """+str(row[2])+""",
<ipython-input-70-f613612a4605>:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  """+str(row[3])+""",
<ipython-input-70-f613612a4605>:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  """+str(row[4])+""",
<ipython-input-70-f613612a4605>:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  """+str(row[5])+""",
<ipython-input-70-f613612a4605>:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  """+str(row[6])+"""

In [71]:
# Verificar se os dados foram inseridos corretamente
print("<--Teste de verificação dos dados inseridos na tabela-->")
print(pd.read_sql_query('SELECT * FROM money_makers', conn))
print("<--Final do teste de verificação dos dados inseridos na tabela-->")

<--Teste de verificação dos dados inseridos na tabela-->
                         artist  total    sales  streaming  publishing  \
0                  Taylor Swift   23.8  10.0000      10.60       3.200
1                   Post Malone   23.2   0.7125       8.10       2.000
2                   Celine Dion   17.5   0.2500       0.29       0.024
3                        Eagles   16.3   0.9700       2.70       1.200
4                 Bellie Eilish   14.7   2.1000       5.90       5.700
..                          ...    ...      ...        ...         ...
115  YoungBoy Never Broke Again   10.4   0.1200       8.90       1.400
116                Thomas Rhett   10.3   0.1700       2.40       0.410
117              Zac Brown Band   10.3   0.2300       1.60       1.000
118                      Maluma   10.2   0.0020       1.30       0.810
119                  The Weeknd   10.1   1.3000       7.30       1.600

     touring  year
0        0.0  2020
1       12.4  2020
2       17.0  2020
3       11.4  2020
4        1.0  2020
..       ...   ...
115      0.0  2021
116      7.4  2021
117      7.4  2021
118      8.1  2021
119      0.0  2021

[120 rows x 7 columns]
<--Final do teste de verificação dos dados inseridos na tabela-->